@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Icons+Outlined&family=Material+Icons+Round&family=Material+Icons+Sharp&family=Material+Icons+Two+Tone");
:root {
  --primary-button: #6792ff;
  --secondary-button: #5ef78c;
  --bg: #181818;
  --text: #ffffff;
  --input: #d9d9d9;
  --ok: #5ef78c;
  --danger: #f7e15e;
  --error: #f77b5e;
  --main: #1f1f1f;
}

*{
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  font-family: "Red Hat Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  overflow: hidden;
}
.white {
  color: white;
}
.login-btn {
  background-color: var(--primary-button);
  color: black;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 10px;
}
.upload-btn {
  height: 42px;
  background-color: var(--primary-button);
  color: black;
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
  margin: 10px;
}

.container {
  text-align: center;
}

.input-box {
  background-color: var(--input);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow:
          inset -2px -2px 5px rgba(0, 0, 0, 0.2),
          inset 2px 2px 5px rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.code-input {
  background: transparent;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  width: 40px;
  height: 50px;
  text-align: center;
  color: #333;
  border-bottom: 2px solid #333;
  transition: border-color 0.2s;
}

.code-input:focus {
  outline: none;
}

.download-btn {
  background-color: var(--secondary-button);
  border: none;
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 22px;
  font-family: "Red Hat Mono", monospace;
  cursor: pointer;
  transition:
          transform 0.1s,
          background-color 0.2s;
}

.download-btn:hover {
  opacity: 0.9;
}

.download-btn:active {
  transform: scale(0.95);
}
.login-box {
  z-index: 10;
  background-color: hsla(0, 0%, 12%, 0.6);
  position: absolute;
  height: calc(100vh - 20vh);
  width: calc(100vw - 30vw);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  border-radius: 28px;
  border: 3px solid #a1a1a1;
  transition: 0.1s;
  backdrop-filter: blur(20px);
}
.upload-box {
  z-index: 10;
  background-color: hsla(0, 0%, 12%, 0.6);
  position: absolute;
  height: calc(100vh - 20vh);
  width: calc(100vw - 30vw);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  border-radius: 28px;
  border: 3px solid #a1a1a1;
  transition: 0.1s;
  backdrop-filter: blur(20px);
}
.close-btn {
  position: absolute;
  top: 20px;
  height: 42px;
  right: 20px;
  background-color: var(--primary-button);
  color: black;
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
  z-index: 10;
}
.menu-btn {
  height: 42px;
  background-color: var(--primary-button);
  color: black;
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
  margin: 10px;
}

.form-input {
  min-width: 300px;
  padding: 15px;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 20px;
  background: var(--input);
  font-family: "Red Hat Mono", monospace;
}
.submit-button {
  min-width: 300px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: var(--primary-button);
  font-family: "Red Hat Mono", monospace;
  transition: background 0.3s;
}
.submit-button.invite-mode {
  background: var(--secondary-button);
}

.submit-button:hover {
  opacity: 0.9;
}
#loginForm {
  display: flex;
  flex-direction: column;
}
#login-error-label {
  font-family: "Red Hat Mono", monospace;
  color: var(--error);
}
.button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: row-reverse;
}
.drop_zone {
  font-family: "Inter", sans-serif;
  font-size: 2em;
  position: page;
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  border-radius: 28px;
  border: 0px solid #a1a1a1;
  transition: 0.1s;
}

p {
  display: inline-block;
  user-select: none;
}
.dragover {
  background-color: hsla(138, 91%, 67%, 0.23);
  border-color: hsla(138, 91%, 67%, 0.85);
  filter: drop-shadow(0px 0px 100px hsla(138, 91%, 67%, 0.8));
  transition: 0.2s;
}
.select {
  background-color: hsla(226, 91%, 67%, 0.23);
  border-color: hsla(226, 85%, 62%, 0.85);
  filter: drop-shadow(0px 0px 100px hsla(226, 85%, 62%, 0.8));
  transition: 0.2s;
}
.drop_zone:hover {
  background-color: hsla(0, 0%, 21%, 0.5);
  transition: 0.1s;
}
#logo{
  position: absolute;
  padding: 0px;
  margin: 10px;
  top: 20px;
  left: 20px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}
#highlighted{
  background: -webkit-linear-gradient(var(--primary-button), var(--secondary-button));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hamburber-menu {
  z-index: 10;
  position: absolute;
  top: 90px;
  right: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(0, 0%, 12%);
  border-radius: 8px;
  border: 1px solid #a1a1a1;
  transition: 0.2s;
  backdrop-filter: blur(20px);
}
.burber-item{
  height: 42px;
  width: 200px;
  background: rgba(55, 55, 55, 0.66);
  border-radius: 8px;
  border: 1px solid #a1a1a1;
  text-align: left;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  margin: 2px;
  flex-direction: row;
  font-family: "Inter", sans-serif;
}
.burber-item:hover{
  background-color: rgba(80, 80, 80, 0.7);
}
#logout-menu-item{
  border-color: var(--error);
  background: hsla(11, 91%, 67%, 0.5);
}
#logout-menu-item:hover{
  background-color: hsla(11, 91%, 67%, 0.45);
  filter: drop-shadow(0px 0px 10px hsla(11, 91%, 67%, 0.8));
}
hr {
  width: 100%;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 100%, 0);
}
#upload-status-symbol{
  font-size: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top:20%;
}
#upload-status-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3em;
  font-family: "Inter", sans-serif;
  margin-top: 5%;

}
#filecode-display {
  text-align: center;
  font-size: 2em;
  font-family: "Red Hat Mono", monospace;
  margin-top: 5%;
  letter-spacing: 15px;
  padding-left:15px;
  padding-top: 4px;
  padding-bottom: 8px;
  background-color: hsla(0, 0%, 12%, 0.8);
  border-radius: 15px;
  border: 1px solid rgba(161, 161, 161, 0.67);
  transition: 0.2s;
  user-select: text;
}
#filecode-display:hover {
  border-color: hsl(223, 100%, 70%);
  filter: drop-shadow(0px 0px 10px hsla(223, 100%, 70%, 0.6));
  transform: scale(102%);
}
#upload-status-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#or{
  color: #b7b7b7;
  font-size: 1.5em;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  margin-top: 2%
}
#link-display{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(161, 161, 161, 0.67);
  border-radius: 15px;
  background-color: hsl(0, 0%, 15%);
  padding: 0.6em;
}
#copy-icon{
  text-align: center;
  font-size: 2em;
  padding: 5px;
  background-color: hsl(0, 0%, 24%);
  border: 1px solid rgba(161, 161, 161, 0.67);
  border-radius: 5px;
  transition: 0.2s;
  margin:3px;
  margin-left:6px;
}
#copy-icon:hover{
  background-color: hsla(226, 91%, 67%, 0.45);
  border: 1px solid hsla(226, 85%, 62%, 0.8);
  filter: drop-shadow(0px 0px 10px hsla(226, 85%, 62%, 0.8));
}
.red-error {
  color: #f77b5e;
  filter: drop-shadow(0px 0px 100px hsla(11, 91%, 67%, 0.95));
}
.green-success {
  color: #5ef78c;
  filter: drop-shadow(0px 0px 100px hsl(138, 91%, 67%));
}
.yellow-working {
  color: #f7e15e;
  filter: drop-shadow(0px 0px 100px hsl(51, 91%, 67%));
}
#header {
  top:0;
  left:0;
  width: 100vw;
  height: 100px;
  position: absolute;
  border-bottom: 1px solid;
  border-image: linear-gradient(90deg,hsl(223, 100%, 70%) 0%,hsl(138, 91%, 67%) 50%, hsl(223, 100%, 70%)100%) 1;

}
#footer {
  position: absolute;
  bottom:0;
  left:0;
  width: 100vw;
  height: 10vh;
  position: absolute;
  border-top: 1px solid;
  border-image: linear-gradient(90deg,hsl(223, 100%, 70%) 0%,hsl(138, 91%, 67%) 50%, hsl(223, 100%, 70%)100%) 1;
}
.hidden{
  display: none;
}