@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --primary-button: #6792ff;
  --secondary-button: #5ef78c;
  --bg: #181818;
  --text: #ffffff;
  --input: #d9d9d9;
  --ok: #5ef78c;
  --danger: #f7e15e;
  --error: #f77b5e;
  --main: #1f1f1f;
}
