@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --primary-button: #6792FF;
    --secondary-button: #5EF78C;
    --bg: #181818;
    --text: #FFFFFF;
    --input: #D9D9D9;
    --ok: #5EF78C;
    --danger: #F7E15E;
    --error: #F77B5E;
    --main: #1F1F1F;
}
